@page "/"
@using InvoiceGenerator.Services

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<div class="main">
    <h1>Invoices Generator</h1>
    <ul class="invoice-cards">
        @if (invoice != null)
        {
            <li>
                <div class="invoice-info">
                    <ul class="invoice-fields">
                        <li>
                            <div class="invoice-fields-label">Order Id:</div>
                            <input @bind="invoice.Id" />
                        </li>
                        <li>
                            <div class="invoice-fields-label">Sales Person:</div>
                            <input @bind="invoice.Sales_Person" />
                        </li>
                        <li>
                            <div class="invoice-fields-label">Confirmed Date:</div>
                            <input @bind="invoice.Order_Confirmed_Date" />
                        </li>
                        <li>
                            <div class="invoice-fields-label">Currency Name:</div>
                            <input @bind="invoice.Currency_Name" />
                        </li>
                        <li>
                            <div class="invoice-fields-label">Special Instructions:</div>
                            <input @bind="invoice.Special_Instructions" />
                        </li>
                        <li>
                            <div class="invoice-fields-label">Advertiser:</div>
                            <input @bind="invoice.Invoice_Advertiser" />
                        </li>
                        <li>
                            <div class="invoice-fields-label">Company Name:</div>
                            <input @bind="invoice.Invoice_Company_Name" />
                        </li>
                        <li>
                            <div class="invoice-fields-label">Address 1:</div>
                            <input @bind="invoice.Invoice_Address1" />
                        </li>
                        <li>
                            <div class="invoice-fields-label">Address 2:</div>
                            <input @bind="invoice.Invoice_Address2" />
                        </li>
                        <li>
                            <div class="invoice-fields-label">Address 3:</div>
                            <input @bind="invoice.Invoice_Address3" />
                        </li>
                        <li>
                            <div class="invoice-fields-label">City:</div>
                            <input @bind="invoice.Invoice_City" />
                        </li>
                        <li>
                            <div class="invoice-fields-label">State/County:</div>
                            <input @bind="invoice.Invoice_State_County" />
                        </li>
                        <li>
                            <div class="invoice-fields-label">Post Code:</div>
                            <input @bind="invoice.Invoice_Post_Code" />
                        </li>
                        <li>
                            <div class="invoice-fields-label">Country:</div>
                            <input @bind="invoice.Invoice_Country_Name" />
                        </li>
                        <li>
                            <div class="invoice-fields-label">Contact Name:</div>
                            <input @bind="invoice.Invoice_Contact_Name" />
                        </li>
                        <li>
                            <div class="invoice-fields-label">Email Address:</div>
                            <input @bind="invoice.Invoice_Contact_Email_Address" />
                        </li>
                        @if (invoice.Items != null && invoice.Items.Any(x => x != null))
                        {
                            <li>Invoice Items:</li>
                            @foreach (var invoiceItem in invoice.Items)
                            {
                                <div class="invoice-item-cards">
                                    <ul>
                                        <li>
                                            <div class="invoice-fields-label">Order Item Id:</div>
                                            <input @bind="invoiceItem.Id" />
                                            </li>
                                        <li>
                                            <div class="invoice-fields-label">Product Name:</div>
                                            <input @bind="invoiceItem.Product_Name" />
                                            </li>
                                        <li>
                                            <div class="invoice-fields-label">Purchase Order:</div>
                                            <input @bind="invoiceItem.Purchase_Order" />
                                            </li>
                                        <li>
                                            <div class="invoice-fields-label">Item:</div>
                                            <input @bind="invoiceItem.Item" />
                                            </li>
                                        <li>
                                            <div class="invoice-fields-label">Month:</div>
                                            <input @bind="invoiceItem.Month_Name" />
                                            </li>
                                        <li>
                                            <div class="invoice-fields-label">Year:</div>
                                            <input @bind="invoiceItem.Year" />
                                            </li>
                                        <li>
                                            <div class="invoice-fields-label">Gross Price (in @invoice.Currency_Name):</div>
                                            <input @bind="invoiceItem.Gross_Price" />
                                            </li>
                                        <li>
                                            <div class="invoice-fields-label">Net Price (in @invoice.Currency_Name):</div>
                                            <input @bind="invoiceItem.Net_Price" />
                                            </li>
                                    </ul>
                                </div>
                            }
                        }
                    </ul>
                </div>
            </li>
        }
    </ul>
    <button class="btn btn-primary" @onclick="GeneratePdf">Submit</button>
</div>
		
@code {
    Invoice invoice = new();
    protected override async Task OnInitializedAsync()
    {
        //simulates getting data from db as json. Go to url/invoice to view json data returned.
        invoice = await HttpClient.GetFromJsonAsync<Invoice>(NavigationManager.BaseUri + "invoice");
    }

    void GeneratePdf()
    {
        if (invoice != null)
        {
            PdfService.GeneratePdf(invoice);
        }
    }
}